<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div id="inform">
            <h5>입고 페이지</h5>
            <form method="POST" action="/board/in_products">
                <div>
                    <label for="ProductName">제품명</label>
                    <input type="text" id="ProductName" name="ProductName" placeholder="제품명을 입력하세요">
                </div>
                <div>
                    <label for="ProductContent">제품설명</label>
                    <input type="text" id="ProductContent" name="ProductContent" placeholder="제품설명을 입력하세요">
                </div>
                <div>
                    <label for="writer">작성자</label>
                    <input type="text" id="writer" name="writer">
                </div>
                <div>
                    <label for="qty">입고수량</label>
                    <input type="text" id="qty" name="qty" placeholder="입고 수량을 적어주세요">
                </div>
                <div>
                    <label for="imgProduct">파일</label>
                    <input type="file" id="imgProduct" name="imgProduct">
                </div>
                <div>
                    <input type="submit" id="btnProdReg" name="btnProdReg" value="상품 등록">
                    <input type="button" id="btnProdCnl" name="btnProdCnl" value="등록 취소">
                </div>
            </form>
        </div>
    </div>
</body>
</html>