<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

    <div layout:fragment="content" id="wrap">
        <h5>재고 리스트 페이지</h5>
        <div id="searchForm">
            <form>
                <select>
                    <option selected>--</option>
                    <option value="t">제목</option>
                    <option value="c">내용</option>
                    <option value="w">작성자</option>
                    <option value="tc">제목 내용</option>
                    <option value="tcw">제목 내용 작성자</option>
                </select>
                <input type="text" name="keyword" id="keyword">
                <input type="button" name="btnsearch" value="검색">
            </form>
        </div>
        <div id="title">
            <div>번호</div>
            <div>제품명</div>
            <div>작성장</div>
            <div>수량</div>
            <div>조회수</div>
            <div>작성일</div>
        </div>
        <div id="clear"  th:each="dto:${boardList.dtoList}">
            <div class="row" th:text="${dto.bno}"></div>
            <div class="row"><a th:href="|@{/board/View_products(bno=${dto.bno})}|" th:text="${dto.ProductName}"><!--[[${dto.ProductName}]]--></a></div>
            <div class="row" th:text="${dto.writer}"></div>
            <div class="row" th:text="${dto.qty}"></div>
            <div class="row" th:text="${dto.hit}"></div>
            <div class="row" th:text="${dto.regDate}"></div>
        </div>
        <div id="pageNum">
            <ul>
<!--                <input type="button" onclick="a_alert()">-->
                <th:block th:each="i:${#numbers.sequence(boardList.start, boardList.end)}">
                <li><a href="#">[[${i}]]</a></li>
                </th:block>
            </ul>
        </div>
    </div>

</html>