<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

    <div layout:fragment="content" id="wrap">
        <h5>재고 리스트 페이지</h5>
        <div id="searchForm">
            <form action="/board/list_products" method="get">
                <input type="hidden" name="size" th:value="${boardList.size}">
                <select>
                    <option selected>--</option>
                    <option value="t" th:selected="${pageRequestDTO.type == 't'}">제품명</option>
                    <option value="c" th:selected="${pageRequestDTO.type == 'C'}">내용</option>
                    <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
                    <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제품명 내용</option>
                    <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">제품명 내용 작성자</option>
                </select>
                <input type="text" name="keyword" id="keyword">
                <div>
                    <input type="submit" name="btnSch" id="btnSch" value="검색">
                    <input type="button" name="btnCls" id="btnCls" value="초기화">
                </div>
            </form>
        </div>
        <div id="title">
            <div>번호</div>
            <div>제품명</div>
            <div>작성장</div>
            <div>수량</div>
            <div>조회수</div>
            <div>작성일</div>
        </div>
        <div id="clear"  th:each="dto:${boardList.dtoList}">
            <div class="row" th:text="${dto.bno}"></div>
            <div class="row"><a th:href="|@{/board/View_products(bno=${dto.bno})}&${pageRequestDTO.getLink()}|" th:text="${dto.ProductName}"><!--[[${dto.ProductName}]]--></a></div>
            <div class="row" th:text="${dto.writer}"></div>
            <div class="row" th:text="${dto.qty}"></div>
            <div class="row" th:text="${dto.hit}"></div>
            <div class="row" th:text="${#temporals.format(dto.regDate, 'yyyy-MM-dd')}"></div>
        </div>
        <div id="pageNum" class="pageNum">
            <ul>
<!--                <input type="button" onclick="a_alert()">-->
                <th:block th:each="i:${#numbers.sequence(boardList.start, boardList.end)}">
                <li>
                    <a th:data-num="${i}">[[${i}]]</a>
                </li>
                </th:block>
            </ul>
        </div>
    </div>

    <script layout:fragment="script" th:inline="javascript">

        window.onload = function (){
            document.querySelector(".pageNum").addEventListener("click", function (e){
                e.preventDefault()
                e.stopPropagation()

                const target = e.target
                if(target.tagName !== 'A'){return}

                const num = target.getAttribute("data-num")
                const formObj = document.querySelector('form')
                formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
                // alert(target.tagName)
                // alert(num)
                formObj.submit();
            }, false)

            document.querySelector("#btnCls").addEventListener("click", function (e){
                e.preventDefault()
                e.stopPropagation()

                self.location = '/board/list_products'
            }, false)
        }


        // 현재 자바스크립트 코드중 제일 먼저 호출
        // alert("자바스크립트 이벤트 리스너 확인중")

        // document.querySelector("#pageNum").addEventListener("click", function (e){
        //     e.preventDefault()
        //     e.stopPropagation()
        //
        //     const target = e.target
        //
        //     //alert(target.tagName)
        //     if(target.tagName !== 'A'){
        //         return
        //     }
        //
        //     const num = target.getAttribute("data_num")
        //     const formObj = document.querySelector("form")
        //
        //     formObj.innerHTML += '<input type="hidden" name="page" value="${num}">'
        //     formObj.submit()
        //
        // }, false)
        $(document).ready(function (){
            $("#btn").off().click(function (){
                $('#header>ul').slideToggle('slow');
            });
        });
    </script>


</html>