<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<body>
<div layout:fragment="content">
  <div id="inform">
    <img src="../images/a02.png" id="subtitle">
    <h5>수정 페이지</h5>
    <div>
      <p id="exp">CICS는 임시 데이터를 사용하여 나중에 처리할 수 있도록 데이터 큐를 빌드하고, 인쇄를 위해 시스템 큐에 메시지를 넣고, 큐 트리거 레벨을 기반으로 태스크를 시작하며,
        복구를 위한 로깅을 요청한다. 애플리케이션은 임시 데이터를 사용하여 트리거 레벨에 도달할 때 (ATI) 메시지를 인쇄하고, 태스크 간에 데이터를 전송하며,
        배치 처리를 위해 데이터를 캡처합니다</p>
    </div>
    <hr>
    <form method="POST" action="/board/modify">
      <input type="hidden" name="bno" class="bno" th:value="${dto.bno}">
      <div>
        <label for="ProductName">제품명</label>
        <input type="text" id="ProductName" name="ProductName" th:value="${dto.ProductName}">
      </div>
      <div>
        <label for="ProductContent">제품설명</label>
        <input type="text" id="ProductContent" name="ProductContent" th:value="${dto.ProductContent}">
      </div>
      <div>
        <label for="writer">작성자</label>
        <input type="text" id="writer" name="writer" th:value="${dto.writer}">
      </div>
      <div>
        <label for="qty">입고수량</label>
        <input type="text" id="qty" name="qty" th:value="${dto.qty}">
      </div>
      <div>
        <label for="fileProduct">파일</label>
        <input type="file" id="fileProduct" name="fileProduct">
      </div>
      <div id="btnlist">
        <input type="button" class="btnlist" value="목록">
        <input type="button" class="btnmod" value="수정">
        <input type="button" class="btndel" value="삭제">
      </div>
    </form>
  </div>
</div>
<script layout:fragment="script" th:inline="javascript">
  const errors = [[${errors}]]
  console.log(errors)

  let errorMsg = ''
  if(errors){
    for(let i=0; i<errors.length; i++){
      errorMsg += `${errors[i].field}은 ${errors[i].code} \n`
    }
    alert(errorMsg)
  }

  document.querySelector(".btnmod").addEventListener("click", function (e){
      e.preventDefault()
      e.stopPropagation()

      var bno = document.querySelector(".bno").value;
      alert(bno)
      document.querySelector("form").submit();

  }, false)

</script>
</body>
</html>